.card {
  width: 1200px; /* Ajusta el ancho de la tarjeta según tus necesidades */
  background-color: rgba(39, 28, 108, 0.2);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.content {
  display: flex;
  align-items: stretch;
  padding: 40px;
}

.text {
  flex: 1;
}

.text h1 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  -webkit-text-stroke-width: 1px; /* Ancho del borde */
  -webkit-text-stroke-color: #1adc85; /* Color del borde */
}

.text h2 {
  margin: 40px 10;
  font-size: 30px;
  -webkit-text-stroke-width: 0.9px; /* Ancho del borde */
  -webkit-text-stroke-color: #1adc85; /* Color del borde */
}

.imageContainer {
  flex: 1;
  text-align: right;
}

.image {
  max-width: 100%;
  height: auto;
  width: 400px; 
  height: 300px;
}
  
  
  